$colorNumber: #191919;
$colorItemDesc: #191919;
$colorNumberBorder: #191919;
$colorNumbersCaption: #3cbfa4;
$colorNumbersTitle: #28333d;

.numbers-items-1 {
	padding-bottom: 55px;
	
	.mobile {
		display: none;
	}

	[class*="route-"] {
		top: 125px;
	}
	
	.route-right {
		right: 0;
	}

	.route-left {
		left: 0;
	}

	.owl-dots {
		text-align: center;
	}

	.owl-dot {
		display: inline-block;
		width: 5px;
		height: 5px;
		@include radius;
		background-color: #242424;
		margin-right: 10px;
		margin-top: 22px;
	}

	.owl-dot.active {
		background-color: $bgBtn1;
		border-color: $bgBtn1;
	}

	.numbers-title {
		margin-top: 60px;
		font-family: $GilroySemiBold;
		font-size: 30px;
		color: $colorNumbersTitle;
		text-align: center;

		.caption {
			color: $colorNumbersCaption;
		}		
	}

	.items-wrapper {
		text-align: justify;
	}

	.items-wrapper:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
	
	.items {
		position: relative;
	}

	.item {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 100%;
		max-width: 192px;
		margin-top: 60px;
	}

	.item-bg{
		display: inline-block;
		vertical-align: top;
		width: 106px;
		min-height: 85px;
		border-bottom: 2px solid #d1d1d1;
		padding-bottom: 20px;
	}

	.item-desc {
		font-family: $Gilroy;
		font-size: 16px;
		line-height: 19px;
		margin-top: 15px;
	}

	[class*="btn_"] {
		margin-top: 55px;
	}
}


@media screen and (max-width: 620px) and (min-width: 320px) {
	.numbers-items-1 {
		.mobile {
			display: block;
		}

		[class*=btn_] {
			margin-top: 20px;
		}
		
		.items-wrapper {
			text-align: center;
		}

		.numbers-title {
			margin-top: 45px;
			font-family: $GilroySemiBold;
			font-size: 24px;
			line-height: 28px;
		}

		.item-desc {
			line-height: 16px;
		}
	}
}