.galery-images {

	.galery-images-content {
		text-align: justify;

		.item {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			max-width: 202px;
			margin-top: 55px;
		}
	}

	.galery-images-wrapper:after {
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
}

@media screen and (max-width: 480px) and (min-width: 320px) {
	.galery-images {
		.galery-images-content {
			.item {
				max-width: 125px;
			}
			
			.item-bg {
				img {
					max-width: 115px;
				}
			}
		}
	}
}