@@include('header.html', {
	"title": "Хостел в Тюмени – «Койко Место» недорого!",
	"desc": "Встретим и привезем. Стоимость от 317 руб. Тел.: +7 (3452) 60-16-92.",
	"h1": "",
	"css": [
		"template"
	]
})	

@@include('site/modules/header-nav/module.html')
<div class="modules">
	@@include('site/modules/header-bunner-slider/module.html')
	@@include('site/modules/module-contacts-1/module.html')
	@@include('site/modules/galery-images-1/module.html', {
		"title": "Общие места на 4 и 6 мест",
		"photo": "photo-1.jpg",
		"class": "grey",
		"photos": [
			{"src": "images/images1/13.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/1.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/2.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/3.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/4.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/5.jpg", "w": "853", "h": "1280"},
			{"src": "images/images1/6.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/7.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/8.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/9.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/10.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/11.jpg", "w": "853", "h": "1280"},
			{"src": "images/images1/12.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/13.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/14.jpg", "w": "853", "h": "1280"},
			{"src": "images/images1/15.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/16.jpg", "w": "853", "h": "1280"},
			{"src": "images/images1/17.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/18.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/19.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/20.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/21.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/22.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/23.jpg", "w": "853", "h": "1280"},
			{"src": "images/images1/24.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/25.jpg", "w": "1280", "h": "853"},
			{"src": "images/images1/26.jpg", "w": "853", "h": "1280"}																	
		]		
	})
	@@include('site/modules/catalog-2/module.html')
	@@include('site/modules/galery-images-1/module.html', {
		"title": "Номера СВ на 2 места",
		"photo": "photo-2.jpg",
		"class": "",
		"photos": [
			{"src": "images/images3/1.jpg", "w": "1280", "h": "853"},
			{"src": "images/images3/2.jpg", "w": "1280", "h": "853"},
			{"src": "images/images3/3.jpg", "w": "1280", "h": "853"},
			{"src": "images/images3/4.jpg", "w": "853", "h": "1280"},
			{"src": "images/images3/5.jpg", "w": "1280", "h": "854"},
			{"src": "images/images3/6.jpg", "w": "1280", "h": "853"},
			{"src": "images/images3/7.jpg", "w": "853", "h": "1280"},
			{"src": "images/images3/8.jpg", "w": "1280", "h": "853"},
			{"src": "images/images3/9.jpg", "w": "853", "h": "1280"}	
		]				
	})
	@@include('site/modules/catalog-3/module.html', {
		"img": "photo-3.jpg",
		"title": "850",
		"caption": "В сутки за человека",
		"desc": [
			{"content": "Отдельный номер с <br/> индивидуальной<br/> кроватью."},
			{"content": "Прикроватные светильники,<br/> розетки, коврики.<br/> Wi-Fi."},
			{"content": "Гиппоалергенные одеяла и<br/> подушки. Свежее постельное белье.<br/> Чистое полотенце."},
			{"content": "Тумбочки, зеркало, полки для<br/> вещей."},
			{"content": "Индивидуальный шкаф<br/> с ключом."}
		]
	})
	@@include('site/modules/galery-images-1/module.html', {
		"title": "Семейный на 3 человека",
		"photo": "photo-4.jpg",
		"class": "grey",
		"photos": [
			{"src": "images/images4/3.jpg", "w": "567", "h": "425"},		
			{"src": "images/images4/1.jpg", "w": "324", "h": "324"},
			{"src": "images/images4/2.jpg", "w": "567", "h": "425"}
		]				
	})
	@@include('site/modules/catalog-3/module.html', {
		"img": "photo-5.jpg",
		"title": "1500р",
		"caption": "В сутки за весь номер.",
		"desc": [
			{"content": "Гиппоалергенные одеяла и подушки. Свежее постельное белье. Чистые полотенца."},
			{"content": "Просторный номер с двумя кроватями (двухспасльная и полуторная)."},
			{"content": "Прикроватные светильники, розетки, коврики.Чистое полотенце. WI-FI."},
			{"content": "ЖК телевизор. Шкаф для вещей. Детский стол и стул."},
			{"content": "Тумбочки. Зеркало. Полки для вещей."}
		]
	})
	@@include('site/modules/galery-images-1/module.html', {
		"title": "Общие зоны",
		"photo": "photo-6.jpg",
		"class": "grey",
		"photos": [
			{"src": "images/images2/20.jpg", "w": "1280", "h": "853"},		
			{"src": "images/images2/1.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/2.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/3.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/4.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/5.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/6.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/7.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/8.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/9.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/10.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/11.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/12.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/13.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/14.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/15.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/16.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/17.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/18.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/19.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/21.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/22.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/23.jpg", "w": "1280", "h": "853"},
			{"src": "images/images2/24.jpg", "w": "853", "h": "1280"},
			{"src": "images/images2/25.jpg", "w": "853", "h": "1280"}
		]				
	})	
	@@include('site/modules/numbers-items/module.html')
	@@include('site/modules/title-button/module.html')
	@@include('site/modules/comments/module.html')
	@@include('site/widgets/map-1/widget.html')
	@@include('site/modules/numbers-items-4/module.html')
	@@include('site/modules/module-contacts-2/module.html')
	@@include('site/modules/footer/module.html')
</div>

@@include('site/widgets/modal/widget.html')
@@include('site/widgets/photoswipe/widget.html')

@@include('footer.html', {
	"js": [
		"template"
	]
})
